.btn {
    border: none;
    background: transparent;
    padding: 6px 16px;
    font-size: 1.1rem;
    color: white;
    background: #FFAE42;
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
  }
  
  .btn:hover {
    color: #FFAE42;
    background: white;
  }